.Calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    margin-top: 160px;
}

.calc-wrapper {
    width: 300px;
    height: 600px;
}

.row {
    display: flex;
    width: 100%;
}